.container {
  margin: 0 auto 240px auto;
  max-width: 1110px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.formWrapper {
  width: 50%;
}

.headingTitleContainer {
  margin-top: 64px;
  margin-bottom: 40px;
}

.headingTitle {
  font-size: 2.5em;
  font-weight: 700;
  color: #1771dd;
  margin: 0px;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
  margin: 0px;
}

.required {
  color: #1771dd;
  font-size: 1em;
}

.inputfieldContainer {
  margin-bottom: 34px;
}

.uploadHeadingContainer,
.inputfieldHeading {
  margin-bottom: 18px;
}

.inputfieldHeading {
  font-size: 1.25em;
  line-height: 28px;
  font-weight: 700;
}

.helperText {
  font-size: 0.875em;
  line-height: 20px;
  color: #656565;
  margin-bottom: 24px;
}

/* divider */
hr {
  margin-bottom: 24px;
  border: 1px solid #e6eeff;
}

.graphicsLeft {
  width: 325px;
  height: 362px;
  position: absolute;
  left: -34px;
  top: 600px;
}

.graphicsRight {
  width: 238px;
  height: 238px;
  position: absolute;
  right: 0px;
  top: 400px;
}

@media screen and (max-width: 1025px) {
  .graphicsLeft {
    left: -140px;
  }
  .graphicsRight {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .headingTitle {
    font-size: 1.75em;
  }
  .formWrapper {
    width: 90%;
  }
  .graphicsLeft {
    display: none;
  }
}

/* When the browser is less then 426px and below */
@media screen and (max-width: 426px) {
  .headingTitleContainer {
    margin-top: 50px;
    margin-bottom: 32px;
  }
}
