.bannerContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-color: #1771dd;
  color: #ffffff;
}

h2{
  font-size: 2.5em;
  line-height: 56px;
  font-weight: 900;
  color: #ffffff;
  margin: 0px;
}

.job-subtitle {
  font-size: 1.25em;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
