.bannerContainer {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #1771dd;
  margin-top: 86px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2.5em;
  font-weight: 900;
  color: #ffffff;
  margin: 0px;
}

p.jobSubtitle {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
  margin-top: 4px;
}

.bannerWrapper {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 160px;
}

.graphicsTop {
  height: 154px;
  width: 154px;
  position: absolute;
  left: 126px;
  top: -20px;
}

/* When the browser is less then 1025px and below */
@media screen and (max-width: 1025px) {
  .bannerWrapper {
    width: 50%;
    padding-right: 0px;
  }
  .graphicsTop {
    left: -40px;
  }
}

/* When the browser is less then 769px and below */
@media screen and (max-width: 769px) {
  .bannerContainer {
    height: 180px;
    margin-top: 87px;
  }

  h2 {
    font-size: 1.75em;
  }

  .graphicsTop {
    left: -97px;
  }
}

/* When the browser is less then 426px and below */
@media screen and (max-width: 426px) {
  .bannerWrapper {
    width: 90%;
  }

  .graphicsTop {
    display: none;
  }
}
